<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 item">
                <h3>MOVIE</h3>
                <ul>
                    <li><a href="#">MOVIES</a></li>
                    <li><a href="#">CINEMAS</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-4 item">
                <h3>MY PROFILE</h3>
                <ul>
                    <li><a href="#">REVIEW</a></li>
                    <li><a href="#">HISTORY</a></li>
                    <li><a href="#">MY LIST</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-4 item">
                <h3>CONTACT US</h3>
                <ul>
                    <li><a href="#">02 222 2222</a></li>
                    <li><a href="#">tr.cinema@gmail.com</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>